html
  head
    title Wilbur Industries
    link(rel='stylesheet' type='text/css' href='static/wilburindustries/css/placeholderpage.css')
  h1
    | Wilbur Industries
  #placeholder
    img#drinking(src='static/wilburindustries/img/drinking.gif')
  p
    | This page is still under development. Check out our 
    a(href='/') normal main 
    page for now.
