<!doctype html>
<html>
    <head>
        <title>Wilbur Industries</title>
        <link rel="stylesheet" type="text/css" href="static/wilburindustries/placeholderpage.css" />
    </head>

    <body>

        <h1>
            Wilbur Industries
        </h1>

        <div id="placeholder">
            <img id="drinking" src="../static/img/drinking.gif" />
        </div>

        <br />

        <p>
            This page is still under development. Check out <a href="https://democracy.wilburindustries.com">democracy</a> for now.
        </p>

    </body>
</html>
