h1 Democracy 
h2 Vote
label Rock
input(type='radio', name='shape', value='rock')#rock
label Paper 
input(type='radio', name='shape', value='paper')#paper
label Scissors 
input(type='radio', name='shape', value='scissors')#scissors
p
  button(type='submit' name='Submit' value='Submit') Submit
h3 Current Votes 
p Rock:  
p Paper: 
p Scissors: 
h3 Team Points 
p Team 1: 
p Team 2: 