<% include header %>

                <!--this level indent-->

                <h2 class="center">404!</h2>

                <p>
                    Things happen--just not here. Head back 
                    <a href="/">Home</a> and go from there.
                </p>

<% include footer %>