<% include header %>

                <!--this level indent-->

                <h2 class="center">About the website; not the FAQ</h2>

                <p>
                    Aaaaand stuff.
                </p>

<% include footer %>