<% include header %>

                <!--this level indent-->

                <h2 class="center">This is the FAQ</h2>

                <h3 class="center">What is this?</h3>

                <p>
                    Aaaaand stuff.
                </p>

                <h3 class="center">Why is this?</h3>

                <p>
                    Aaaaand stuff.
                </p>

                <h3 class="center">How does voting work?</h3>

                <p>
                    Aaaaand stuff.
                </p>

                <h3 class="center">Who's voting?</h3>

                <p>
                    Aaaaand stuff.
                </p>

                <h3 class="center">Why don't I get to decide which team I'm on?</h3>

                <p>
                    A feature may be implemented for this later, but at present, teams are 
                    assigned to users as they register in order to ensure balance. The 
                    robots are also evenly split (14 on each team). They spend points the 
                    same way everyone else does.
                </p>

                <h3 class="center">Why does this matter?</h3>

                <p>
                    Aaaaand stuff.
                </p>

                <h3 class="center">Where can I view the data?</h3>

                <p>
                    Unless you know something I don't, check out the Statistics page. That 
                    one should have lots of interesting bits of data to help inform your 
                    future votes and point expenditures.
                </p>

                <h3 class="center">Don't I get a prize?</h3>

                <p>
                    Short answer: no.
                </p>

                <p>
                    <em>However!</em> There are Future Plans&trade; to implement achievements. They 
                    won't have any actual effect on the game, but they will be things you can 
                    show off to your friends.
                </p>


<% include footer %>