<html>
    <head>
        <title>Democracy</title>
        <link rel="stylesheet" type="text/css" href="../static/democracy.css" />
        <link rel="stylesheet" type="text/css" href="../static/chartist.min.css" />
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="../static/chartist.min.js"></script>
    </head>

    <body>
        <div id="container">
            <div id="header">
                <div id="links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="statistics">Statistics</a></li>
                        <li><a href="faq">FAQ</a></li>
                        <li><a href="about">About</a></li>
                    </ul>
                </div>

                <div id="login">
                    Welcome back, user! (Logout)<br />
                    Team Name<br />
                    <form>
                    <label>Username:</label><input type="text" name="login" />
                    <br />
                    <label>Password:</label><input type="text" name="lastname" />
                    </form>
                </div>
            </div>

            <div id="leftcol">
                <img class="tmpimgleft" src="../static/vial.png" />
                <br />
                Team A
            </div>

            <div id="rightcol">
                <img class="tmpimgright" src="../static/vial.png" />
                <br />
                Team B
            </div>

            <div id="content">



