<% include header %>

                <!--this level indent-->

                <h2 class="center">Why hello, user!</h2>

                <p>
                    Aaaaand stuff.
                </p>

<% include footer %>