<% include header %>

                <!--this level indent-->

                <h2 class="center">Statistics</h2>

                <h3>Votes for Yesterday</h3>

                <h3>Votes for the Past Week</h3>

                <h3>Votes for the Past 30 Days</h3>

                <h3>Votes for All Time</h3>

                <h3>Victories, Losses, and Neutrals for each Shape</h3>
    
                <h3>Victories, Losses, and Neutrals by Team</h3>

                <h3>Shape Preference by Team</h3>

                <h3>Shape Preference by Age</h3>

                <h3>Shape Preference by Gender</h3>

                <h3>Users by Age</h3>

                <h3>Users by Gender</h3>

<% include footer %>