<% include header %>

                <!--this level indent-->

                <h2 class="center">Statistics go here!</h2>

                <p>
                    Aaaaand stuff.
                </p>

<% include footer %>