* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFFFFF;
}

#header {
    height: 90px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 10px;
    border-color: black;
}

#tmpimgpie {
    width: 300px;
    height: 300px;
}

.tmpimgleft {
    width: 128px;
    height: 256px;
    right: 0;
}

.tmpimgright {
    width: 128px;
    height: 256px;
    left: 0;
}

#links {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#login {
    position: absolute;
    bottom: 0px;
    margin: 0px;
}

#login label {
    width: 25%;
    float: left;
    text-align: right;
    margin-right: 1.0em;
}

#login input {
    float: left;
}

#header ul {
    link-style-type: none;
}

#header li {
    display: inline;
    padding-right: 6px;
}

#container {
    width: 850px;
    margin: 0 auto;
}

#leftcol {
    position: relative;
    float: left;
    width: 90px;
    text-align: center;
    padding-top: 25px;
}

#rightcol {
    position: relative;
    float: right;
    width: 90px;
    text-align: center;
    padding-top: 25px;
}

#content {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#content p {
    text-align: center;
}

#content form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    text-align: center;
}

.center_chart {

}

#content ul {
    width: 30%;
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6px;
}

#content li {
    list-style-type: none;
}

footer {
    clear: both;
    text-align: center;
    font-style: italic;
}