<!doctype html>
<html>
    <head>
        <title>Wilbur Industries</title>
        <link rel="stylesheet" type="text/css" href="../static/wilburindustries.css" />
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="../static/wilburindustries/js/index.js"></script> -->
    </head>

    <body>
        <div id="sky-body">
            
            <div id="big-name">
                <div id="test-scroll"></div>            
                <h1>
                    <span id="industry-name">WILBUR INDUSTRIES</span>
                </h1>
            </div>
            
            <div id="subtitle">
                Explore our campus below!
            </div>
            
            <div id="sky-head">
                <img class="cloud" id="top-cloud" src="../static/img/cloud.png" />
                <img class="cloud" id="right-cloud-1" src="../static/img/cloud2.png" />
                <img class="cloud" id="right-cloud-2" src="../static/img/cloud1.png" />
                <img id="left-cloud" src="../static/img/cloud1.png" />
            </div>

            <div id="left-col" class="col-height">
                <div id="left-bg-space">
                </div>
                <div class="bg-factory">
                    <img class="smokestack image" id="left-stack-1" src="../static/img/smokestack.png" />
                    <img class="smokestack image" id="left-stack-2" src="../static/img/smokestack.png" />
                </div>
                <div id="left-fg-factory">
                    <img id="l-wndw-1" class="window image" src="../static/img/window-1.png" />
                    <img id="l-wndw-2" class="window image" src="../static/img/window-1.png" />
                    <img id="fence-warning" class="image" src="../static/img/fence-warning.png" />
                </div>
                <div id="left-factory-room" class="factory-room">
                    <span id="left-factory-room-contents" class="factory-room-contents"><a id="get-work-room-list" href="#work-room">Work Room</a></span>
                </div>
                <div id="work-room" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <h3 class="centered">The Work Room</h3>
                        <p>Visit this blog if you'd like to know:</p>
                        <p class="nav"><a href="placeholder.html">What's new.</a></p>
                        <p class="nav"><a href="placeholder.html">Forrest's thoughts.</a></p>
                        <p class="nav"><a href="placeholder.html">Ben's thoughts.</a></p>
                    </div>
                </div>
            </div>

            <div id="right-col" class="col-height">
                <div id="right-bg-space">
                </div>
                <div class="bg-factory">
                    <img class="smokestack image" id="right-stack-1" src="../static/img/smokestack.png" />
                    <img class="smokestack image" id="right-stack-2" src="../static/img/smokestack.png" />
                </div>
                <div id="right-fg-factory">                

                    <img id="r-wndw-1" class="window image" src="../static/img/window-3.png" />
                    <img id="r-wndw-2" class="window image" src="../static/img/window-4.png" />
                    <img id="light" class="image" src="../static/img/yellow-light.png" />
                    <img id="door" class="image" src="../static/img/scifi-door.png" />
                    <img id="stairs" class="image stairs" src="../static/img/stairs.png" />
                </div>
                <div id="right-factory-room" class="factory-room">
                    <span id="right-factory-room-contents" class="factory-room-contents"><a href="#about-us">About Us</a></span>
                </div>
                
                <div id="about-us" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <h3 class="centered">Who are we?</h3>
                        <p>Wilbur Industries harvests quality content from 
                        its employees' dreams of self-sufficiency.</p>
                    </div>
                </div>
                
            </div>
            
            <div id="mid-col" class="col-height">

                <div id="mid-sub-col-1">
                    <div align="center" id="roof-part-1"></div>
                    <div align="center" id="roof-part-2"></div>
                    <div id="roof-part-3"></div>  
                </div>
                <div id="roof-part-4"></div>

                <div id="mid-sub-col-2">
                    <div align="center" id="main-building">

                        <div class="gen-room" id="writing-room"><a id="get-writing-list" href="#writing">Creative Writing</a></div>


                        <div class="gen-room" id="music-room"><a id="get-music-list" href="#music">&#9834; Music &#9834;</a></div>
                            
                        <div class="gen-room" id="gaming-room"><a id="get-gaming-list" href="#gaming">Games and Gaming</a></div>
                    </div>
                </div>
                
                <div class="bg-factory">
                </div>
                <div id="mid-fg-factory">
                    <img id="m-wndw-1" class="window image" src="../static/img/window-1.png" />
                    <img id="m-wndw-2" class="window image" src="../static/img/window-2.png" />
                </div>
                <div id="mid-factory-room" class="factory-room">
                    <span id="mid-factory-room-contents" class="factory-room-contents"><a id="get-cv-list" href="#curricula-vitae">Curricula<br />Vitae</a></span>
                </div>
            </div>
            
            <div id="curricula-vitae" class="modalDialog">
                <div>
                    <a href="#close" title="Close" class="close">X</a>
                    <h3 class="centered">Our Curricula Vitae</h3>
                    <p class="nav"><a href="../static/docs/fwilbur-cv.pdf">Forrest A. Wilbur</a></p>
                    <p class="nav"><a href="../static/docs/bwilbur-cv.pdf">Benjamin L. Wilbur</a></p>
                </div>
            </div>
        </div>
        <div id="ground">
        </div>
        <div id="grass">
            <div id="fence"></div>
            <footer>
                &copy; Wilbur Industries, 2016
            </footer>
        </div>
        
        <div id="writing" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h3 class="centered">Our Literary Works</h3>
                <p>Strong words, we know. We take pride in our writing.
                Click on the links below to see:</p>
                <p class="nav"><a href="placeholder.html">Forrest's Writing.</a></p>
                <p class="nav"><a href="placeholder.html">Ben's writing.</a></p>
            </div>
        </div>

        <div id="music" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h3 class="centered">Forrest Writes Music</h3>
                <p class="nav"><a href="placeholder.html">Algorithmic compositions.</a></p>
                <p class="nav"><a href="placeholder.html">Songs with lyrics.</a></p>
                <p class="nav"><a href="placeholder.html">Pieces without lyrics.</a></p>
                <p class="nav"><a href="placeholder.html">... or all of the music.</a></p>
            </div>
        </div>

        <div id="gaming" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h3 class="centered">Games of Interest or Note</h3>
                <p class="nav"><a href="placeholder.html">Democracy.</a></p>
                <p class="nav"><a href="http://www.legacyofmages.com/">Dungeons and Dragons 5th Edition.</a></p>
                <p class="nav"><a href="http://creationroleplayinggame.weebly.com/">Creation by Sam Butler.</a></p>
            </div>
        </div>

    </body>
</html>