extends layout.pug

block content 
  header.masthead(style="background-image: url('../static/blog/img/home-bg.jpg')")
    .container.position-relative.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-md-10.col-lg-8.col-xl-7
          .site-heading
            h1 Admin Login
            span.subheading secret page 
  // Main Content
  main.mb-4
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-md-10.col-lg-8.col-xl-7
          .my-5
            form#contactForm(method='POST', action='/blog/admin')
              .form-floating
                input#name.form-control(type='text' name='username' placeholder='Enter your username...' data-sb-validations='required')
                label(for='username') Username
                .invalid-feedback(data-sb-feedback='title:required') A username is required.
              .form-floating
                input#name.form-control(type='text' name='password' placeholder='Enter your password...' data-sb-validations='required')
                label(for='password') Password
                .invalid-feedback(data-sb-feedback='title:required') A password is required.
              br
              // Submit success message
              // 
              // This is what your users will see when the form
              // has successfully submitted
              button#submitButton.btn.btn-primary.text-uppercase(type='submit') Submit